@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

:root {
    --lightPurple: #f3e9f1;
    --purple: #8f5bfe;
    --darkPurple : #261624;
    --orange: #ce7a06;
    --black: #333333;
    --white: #f9f9f9;
    --disabled : #8f8f8f;
    --borderRadiusBlocks: 1rem;
    --borderRadiusCards: 1rem;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 1rem auto;
    background-color: var(--lightPurple);
    border-radius: var(--borderRadiusBlocks);
}

.title {
    font-family: 'New Tegomin', 'Times New Roman', serif;
}

.icons {
    color: var(--purple);
    padding-right: 1rem;
}

.button {
    border-radius: var(--borderRadiusCards);
    background-color: var(--orange);
    color: var(--white);
    font-size: .9rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem 0.1rem #c2c2c2;
}

.button:focus {
    outline-style: none;
}

.button:disabled {
    background-color: var(--disabled);
}

.button:disabled:hover {
    cursor: initial;
    box-shadow: none;
}

.header {
    min-height: 3rem;
    height: 6rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem 0 0 0;
}

.navLink {
    font-family: 'New Tegomin', 'Times New Roman', serif;
    font-size: 1.2rem;
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink:hover {
    font-weight: bold;
}

.logo {
    grid-column: 2 / 2;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 3rem;
}

.slogan {
    font-size: .9rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gallery {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sectionTitle {
    text-align: center;
    color: var(--darkPurple);
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.sectionSubTitle {
    text-align: center;
}

.card {/*Container de card*/
    background-color: var(--white);
    border-radius: var(--borderRadiusCards);
    border: .25rem solid var(--orange);
    display: flex;
    box-shadow: 0 0.1rem 0.4rem 0.1rem #eaeaea;
    overflow: hidden;
    margin: 2rem;
}

.galleryCard {
    height: 20rem;
    width: 20rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.galleryCard:hover {
    box-shadow: 0 0.1rem 0.4rem 0.1rem #c2c2c2;
}

.productCard {
    max-height: 30rem;
    max-width: 50rem;
    box-shadow: 0 0.1rem 0.4rem 0.1rem #c2c2c2;
    justify-content: space-between;
}

.pictureContainer {/*Container de la photo, mis en place pour permettre un effet de zoom de l'image qu'il contient, par un scale au hover*/
    position: relative;
    height: 16rem;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.pictureContainer:hover .productPicture {/*Propriétés du scale au hover*/
    transform: scale(1.1);
}
  
.productPicture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1000ms ease-out;
}

.cardText {/*Container du texte des cards*/
    display: flex;
}

.galleryCardText {
    height: 4rem;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--darkPurple);
}

.galleryCardText:hover {
    background-color: var(--lightPurple);
}

.productCardTitle {
    margin: 0;
    font-size: 1.1rem;
}

.productPrice {
    width: 3.5rem;
    padding: .3rem 1rem;
    border-radius: var(--borderRadiusCards);
    background-color: var(--orange);
    color: var(--white);
    font-size: .9rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.productSheetCard {
    height: 20rem;
    width: 55rem;
}

.productSheetPicture {
    height: 100%;
    width: 25rem;
    object-fit: cover;
}

.productDescriptionContainer {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productDescriptionPrice {
    align-self: flex-end;
}

.productDescription {
    text-align: justify;
}

.productDescriptionText {
    font-size: .9rem;
}

.customizationForm {
    padding: .9rem 0;
    display: flex;
    flex-direction: column;
}

.customizationFormLabel {
    font-size: .9rem;
    padding-bottom: .5rem;
}

.productAddCart {
    padding-bottom: 1rem;
}

.addCartButton, .clearCartButton, .validationButton {
    height: 2rem;
    width: 12rem;
    align-self: center;
}

.clearCartButton {
    margin: 1rem 1.5rem;
}

.footer {
    height: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
}

.footerLogo {
    grid-column: 2 / 2;
    grid-row: 1/1;
    max-height: 2rem;
    margin: auto;
}

.footerRights {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    font-size: .7rem;
    color: var(--purple);
    margin: auto;
}

.emptyCart {
    text-align: center;
}

.cartTable {
    width: 60rem;
    background-color: var(--white);
    border: 2px solid var(--orange);
    border-radius: var(--borderRadiusBlocks);
    border-spacing: 0;
    overflow: hidden;
}

.cartTableCell {
    height: 2.5rem;
    width: 15rem;
    text-align: center;
    padding: .5rem 0;
}

.cartTableProductCell {
    display: flex;
    justify-content: space-around;
}

.cartTableContentProductCellPicture {
    width: 4rem;
    height: 4rem;
    padding: 0 1rem;
    object-fit: contain;
    justify-self: flex-start;
}

.cartTableContentProductCellName {
    display: flex;
    align-items: flex-end;
    justify-self: flex-start;
}

.tableBottom {
    display: flex;
    justify-content: space-between;
}

.totalPrice {
    font-weight: bold;
    padding: 1.5rem 0 0 1.5rem;
}

.formContainer {
    width: 60rem;
    background-color: var(--white);
    border: 2px solid var(--orange);
    border-radius: var(--borderRadiusBlocks);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;

}

.formInput {
    padding: .5rem;
}

.formInput > label {
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
    color: var(--darkPurple);
    font-weight: bold;
}

.civilityInput, .addressInput, .cityInput, .emailInput {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

input:focus {
    border: none;
    outline-style: none;
}

input:valid {
    border: none;
    box-shadow: 0 0 5px 1px greenyellow;
}

input:invalid {
    border: none;
    box-shadow: 0 0 5px 1px red;
}

.orderConfirmation {
    text-align: center;
    padding-bottom: 2rem;
}